.navbar-nav {
  float: right;
}

.hero-image {
  width: 100%;
  height: 400px;
  background-image: url("../images/hero-image.jpeg");
  background-size: cover;
}

.center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.equal {
  display: flex;
  flex-wrap: wrap;
}

.main-container {
  margin-top: 20px;
}

.logo {
  width: 300px;
}

/* Students */

.students-container {
  margin-top: 60px;
}

.student {
  margin: 10px 0;
}

.student-image {
  width: 150px;
  height: 150px;
}

/* Projects */

.projects-container {
  margin-top: 80px;
}

@media (max-width: 767px) {
  .navbar-nav {
    float: none;
    text-align: center;
  }
}
